<!DOCTYPE html>
<html lang="en" xmlns:width="http://java.sun.com/xml/ns/persistence/orm">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Prodact base to store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"> </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body style="background-color: #FFA500">
<div style="color:#00FF00" size="2"></div>
<div class="container mt-xxl-5 mb-xxl-5">
    <table class="storeTable" border="1px solid black">
        <thead>
        <tr>
            <th>storeId</th>
            <th>productName</th>
            <th>cost</th>
            <th>productDate</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="4">
                <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
            </td>
        </tr>
        </tfoot>
        <div th:each="element : ${storesListWeb}" class="format">
            <tr>
                <td style="background-color: yellow; width: 5%; height: 15px;" th:text="${element.storeId}">storerId</td>
                <td style="background-color: red" th:text="${element.productName}">productName</td>
                <td style="background-color: #b6effb" th:text="${element.cost}">cost</td>
                <td style="background-color: #bfd1ec" th:text="${element.productDate}">productDate</td>
                <td><a th:href="@{'/putProduct/' + ${element.storeId}}">Edit</a></td>
                <td><a th:href="@{'/delProduct/' + ${element.storeId}}">Delete</a></td>
            </tr>
        </div>
    </table>
    <p> Press Button <a th:href="@{/postProduct}">press</a> to add product </p>
    <form action="/save" method="post">
    <p> File name <input type="text"  name = "filename" value="Filename" th:value = "${filename}" class="from-control">
        Press Button  <button type="submit" class="btn btn-success">Add </button> to save in file </p>
    </form>

    <form action="/load" enctype="multipart/form-data" method="post">
        <p> File name <input type="file" name = "LoadFileName" value="Filename" th:value = "${filename}" class="from-control">
            Press Button  <button type="submit" class="btn btn-success">Load </button> this file </p>
    </form>
 </div>
</body>

</html>