<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post in the base store this product   </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5 mb-5">

    <form id = "postForm" th:object="${newProduct}" action="/postProduct" method="post">
<!--    <input type="number" th:filed="*{storeId}" value="" class="from-control"><br>-->
    <input type="text" th:filed="*{productName}" placeholder="Input product name" class="from-control"><br>
    <input type="number" th:filed="*{cost}" placeholder="Input cost produkt" class="from-control"><br>
    <input type="datetime-local" th:filed="*{productDate}" placeholder="Input date create" class="from-control"><br>
    <button type="submit"  class="btn btn-success">Add </button>
</form>
</div>
</body>
</html>