<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Start page store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body style="background-color: #0dcaf0">
<div class="container m-auto mb-auto d-flex justify-content-center p-3 mb-2 text-light bg-dark font-weight-bold">
    <p style="text-align:center"></p>
<p> Press Button <a th:href="@{/getController}">press</a>  go to back  </p>
</div>
</body>
</html>